body {
	margin: 0;
	padding: 0;
	background: #f2f2f2;
  font-family: 'Lato', sans-serif;
}
header {
	height: 100%;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	color: #fff;
	font-weight: 100;
	background: rgba(137,250,239,1);
	background: -moz-linear-gradient(top, rgba(137,250,239,1) 0%, rgba(0,150,135,1) 70%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(137,250,239,1)), color-stop(70%, rgba(0,150,135,1)));
	background: -webkit-linear-gradient(top, rgba(137,250,239,1) 0%, rgba(0,150,135,1) 70%);
	background: -o-linear-gradient(top, rgba(137,250,239,1) 0%, rgba(0,150,135,1) 70%);
	background: -ms-linear-gradient(top, rgba(137,250,239,1) 0%, rgba(0,150,135,1) 70%);
	background: linear-gradient(to bottom, rgba(137,250,239,1) 0%, rgba(0,150,135,1) 70%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#89faef', endColorstr='#009687', GradientType=0 );
}
header .container {
	max-width: 500px;
	padding-top: 13%;
	padding-bottom: 13%;
	position: relative;
	z-index: 10;
}
header .container h1 {
	padding: 0;
	margin: 0;
	font-family: 'Great Vibes', cursive;
	font-size: 7rem;
	line-height: 7rem;
}
header .container p {
	font-size: 1rem;
	font-weight: 300;
}
header .read-more a {
	color: #fff;
}
header .read-more i {
	font-size: 2rem;
	margin-top: 2rem;
	position: absolute;
	bottom: 0;
	animation-duration: 3s;
}
header .background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

svg.triangle-down {
	fill: rgba(0,150,135,1);
	stroke: rgba(0,150,135,1);
	position: relative;
	top: -1px;
	z-index: -1;
}
svg.triangle-up .shadow,
svg.triangle-down .shadow {
	fill: rgba(50, 130, 120, 1);
	stroke: rgba(50, 130, 120, 1);
}
svg.triangle-up {
	fill: rgba(0,150,135,1);
	stroke: rgba(0,150,135,1);
	margin-top: 3rem;
	position: relative;
	bottom: -6px;
	z-index: -1;
}

section.container {
	position: relative;
	z-index: 99;
}
section.container .row,
section.container .row .card {
	margin-bottom: 0;
	padding-bottom: 0;
}
section .card .card-reveal .card-title i.fa,
section .card .card-content .card-title i.fa {
	line-height: unset;
	font-size: 1.2rem;
}
section .card .card-content .socials {
	text-align: center;
	margin-top: 1rem;
}
section .card .card-content .socials i {
	font-size: 1.5rem;
	padding: 1rem;
}
section .card {
	margin-top: 2rem;
}
section .card .card-action .chip {
	background-color: #f0f0f0;
}
section .card .card-action .chip a {
	margin: 0 0.5rem !important;
}
section .card .card-action .chip a i {
	margin-right: 0.5rem;
}
section .card.horizontal .card-image {
	border-right: 1px solid rgba(160,160,160,0.2);
	max-width: 30%;
}
section .card.horizontal .card-image img {
	padding: 10% 0;
}

footer {
	background-image: none;
	background-color: rgba(0,150,135,1);
	color: #fff;
	text-align: center;
	padding: 0 0 2rem;
	display: block;
}
footer p {
	margin-top: 0;
}

@media screen and (max-width: 600px) {
	.container {
		top: 10%;
		padding-bottom: 1rem;
	}
	.card .card-content .socials i {
		font-size: 1rem;
	}
}
@media screen and (max-width: 1400px) and (min-width: 600px) {
	.card .card-content .socials {
		padding-top: 1rem;
	}
	.card .card-content .socials i {
		padding: 0.5rem;
	}
	.card .card-content .card-title {
		min-height: 3.5rem;
	}
}
