body {
	margin: 0;
	padding: 0;
	background-color: #34727F;
}
#particles-js {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.container {
	position: absolute;
	left: 0;
	right: 0;
	top: 10%;
}
.container .row,
.container .row .card {
	margin-bottom: 0;
	padding-bottom: 0;
}
.card .card-reveal .card-title i.fa,
.card .card-content .card-title i.fa {
	line-height: unset;
	font-size: 1.2rem;
}
.card .card-content .socials {
	text-align: center;
	margin-top: 1rem;
}
.card .card-content .socials i {
	font-size: 1.5rem;
	padding: 1rem;
}
.card {
	margin-top: 2rem;
}
.cfp {
	position: absolute;
	top: -25px;
	left: -25px;
	z-index: 1;
}
.on-sale {
	position: absolute;
	top: -25px;
	left: 25px;
	z-index: 1;
}
.cfp > a > img {
	height: 50px;
	width: 50px;
}
.on-sale > a > img {
	height: 50px;
	width: 50px;
}

#family {
	color: #FFF;
	text-align: center;
	text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
}

@media screen and (max-width: 600px) {
	.container {
		top: 10%;
		padding-bottom: 1rem;
	}
	.card .card-content .socials i {
		font-size: 1rem;
	}
}
@media screen and (max-width: 1400px) and (min-width: 600px) {
	.card .card-content .socials {
		padding-top: 1rem;
	}
	.card .card-content .socials i {
		padding: 0.5rem;
	}
	.card .card-content .card-title {
		min-height: 3.5rem;
	}
}
