{% for event in site.data.events %}
    <div class="col s12 m8 offset-m2">
        <div class="card horizontal">
            <div class="card-image">
                <img src="images/{{ event.image }}">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <span class="card-title">{{ event.name }}</span>
                    <div class="card-action">
                        {% if event.next %}
                            <div class="properties">
                                {% if event.cfp %}
                                    <div class="chip">
                                        <a href="{{ event.cfp }}"><i class="fa fa-pencil teal-text" aria-hidden="true"></i>CFP Open</a>
                                    </div>
                                {% endif %}
                                {% if event.tickets %}
                                    <div class="chip">
                                        <a href="{{ event.tickets }}"><i class="fa fa-ticket teal-text" aria-hidden="true"></i>Buy Ticket!</a>
                                    </div>
                                {% endif %}
                                {% if event.next %}
                                    <div class="chip">
                                        <a href="{{ event.url }}"><i class="fa fa-calendar teal-text" aria-hidden="true"></i>{{ event.next }}</a>
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                        <p class="socials">
                            {% if event.url %}
                                <a href="{{event.url}}"><i class="fa fa-globe teal-text" aria-hidden="true"></i></a>
                            {% endif %}
                            {% if event.twitter %}
                                <a href="{{event.twitter}}"><i class="fa fa-twitter teal-text" aria-hidden="true"></i></a>
                            {% endif %}
                            {% if event.facebook %}
                                <a href="{{event.facebook}}"><i class="fa fa-facebook teal-text" aria-hidden="true"></i></a>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}