<head>
	<meta charset="utf-8">
	<meta name="description" content="Scaleconf tech">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<link rel="stylesheet" media="screen, projection" href="css/materialize.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" media="screen" href="css/main.css">
</head>
