<header>
    <div class="container">
        <h1>ScaleConf Family</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam laudantium minima architecto, fugiat rem, vel nostrum? Hic, esse quos quibusdam doloremque inventore atque sapiente vitae molestias accusamus, corporis, nostrum provident!</p>
        <p class="read-more">
            <a href="#events"><i class="fa fa-chevron-circle-down animated infinite bounce" aria-hidden="true"></i></a>
        </p>
    </div>
    <canvas class="background"></canvas>
</header>